{% extends "base.html" %}


{% block content %}
{% for pitch in pitches %}

<div class="card">
    <div class="card-header">
        {{pitch.user.username}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Pitch: {{pitch.pitch}}</p>
            <footer class="blockquote-footer">Cartegory: {{pitch.category}}</footer>
        </blockquote>

        <div class="votes">
            <i onclick="addUpvote({{pitch.id}})" class="fas fa-caret-up fa-2x"></i>
            <span id=uvc-{{pitch.id}}>{{pitch.upvotes}}</span>
            <i onclick="addDownvote({{pitch.id}})" class="fas fa-sort-down fa-2x"></i>
            <span id=dvc-{{pitch.id}}>{{pitch.downvotes}}</span>
        </div>

        <form id="comment-form" action="/comments?pitch_id={{pitch.id}}" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="New Comment" aria-label="Recipient's username"
                    aria-describedby="button-addon2" name="comment" id="comment">
                <button class="btn btn-outline-secondary" type="submit" name="submit" id="button-addon2">Comment</button>
            </div>
        </form>

        {% for comment in comments %}
        {% if comment.pitch_id == pitch.id %}
            <div class="card">
                <div class="card-header">
                    {{comment.user.username}}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{comment.comment}}</p>
                    </blockquote>
                </div>
            </div>
        {% endif %}
        {%endfor%}
    </div>
</div>
{% endfor %}
<script>
    function addUpvote(pitchid) {
        let spanid = parseInt(pitchid);
        let uvc = parseInt($("#uvc-" + spanid).html());
        let dvc = parseInt($("#dvc-" + spanid).html());
        $.post(`/votes?upvotes=${uvc+1}&downvotes=${dvc}&pitch=${spanid}`, function(data){
            
        }).done(
            $("#uvc-" + spanid).html(uvc+1)
        );
    }

    function addDownvote(pitchid) {
        let spanid = parseInt(pitchid);
        let uvc = parseInt($("#uvc-" + spanid).html());
        let dvc = parseInt($("#dvc-" + spanid).html());
        $.post(`/votes?upvotes=${uvc}&downvotes=${dvc+1}&pitch=${spanid}`, function (data) {

        }).done(
            $("#dvc-" + spanid).html(dvc + 1)
        );
    }

    window.addUpvote = addUpvote;
    window.addDownvote = addDownvote;
</script>
{% endblock %}